.header__highlight {
  opacity: 90%;
  font-size: 4rem;
  height: 90px;
  left: 0;
  /* position: fixed; */
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

/* __________________NAVBAR_FOOTER__________________ */

.nav__bar {
  display: flex;
  justify-content: center;
  opacity: 90%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  /* background-color: black; */
  z-index: 1;
  background-color: white;
}

.nav__link {
  display: inline-block;
  /* color:aliceblue; */
  padding: 1.5rem 5rem;
  transition: all 0.3sec ease 0;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4rem;
}

.nav__link:hover {
  color: deeppink;
}

.details__container {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  margin-bottom: 10%;
  padding: 10%;
}
.details_color {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  margin-bottom: 10%;
  padding: 10%;
  justify-content: center;
}

.details__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.preview__image {
  object-fit: contain;
}

.preview__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 2rem;
  margin: 10%;
}
