.header__homepage{
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  margin-top: 50px;
  text-transform: uppercase;
  z-index: 1;
  background-color: white;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

.header__highlight {
  padding-left: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  opacity: 90%;
  font-size: 1rem;
  left: 0;
  /* position: fixed; */
  text-align: center;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

/* __________________NAVBAR_FOOTER__________________ */

.nav__bar {
  top: 0;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: fixed;
  background-color: white;
  height: 8%;
  width: 100%;
}

.nav__link {
  display: inline-block;
  /* color:aliceblue; */
  padding: 1rem 1rem;
  transition: all 0.3sec ease 0;
  list-style-type: none;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: gray;
}

.nav__link:hover {
  color: #ff1493;
}


.details__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin-bottom: 10%;

}
.piece_of_day{
  display: flex;
  justify-content: center;
}
.preview__image, 
.piece_of_day {
  object-fit: contain;
}

.preview__container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  padding: 10px;
}

.preview__title{
  font-size: 0.9rem;
  font-weight: 500;
}
.preview__artist{
  font-size: 0.9rem;
  font-weight: 300;
}
.button{
  float: right;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.button:hover{
  filter: invert(22%) sepia(79%) saturate(2984%) hue-rotate(312deg) brightness(101%) contrast(111%);
}

