:root {
  --accent:	#FE1C80;
  --accent-light: #e53e89b1;
  }
  
  .header__homepage{
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  margin-top: 50px;
  text-transform: uppercase;
  z-index: 1;
  background-color: white;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

.header__highlight {
  padding-left: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  opacity: 90%;
  font-size: 1rem;
  left: 0;
  /* position: fixed; */
  text-align: center;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

/* __________________NAVBAR_FOOTER__________________ */

.nav__bar {
  top: 0;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: fixed;
  background-color: white;
  height: 8%;
  width: 100%;
}

.nav__link {
  display: inline-block;
  /* color:aliceblue; */
  padding: 1rem 1rem;
  transition: all 0.3sec ease 0;
  list-style-type: none;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: gray;
}
.nav__back{
  list-style-type: none;
  text-decoration: none;
  color: gray;
  padding-left: 30px ;
  padding: 20px;
  border: 10px;

}
.nav__link:hover,
.nav__back:hover {
  color: var(--accent);
}
.nav__back:hover{
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.details__container {
    list-style-type: none;
    /* display: flex;
    flex-flow: column; */
    margin-bottom: 10%;
  }

  .details__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }
/* .details__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  list-style-type: none;
} */
.preview__image{
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.preview__container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  padding: 10px;
  row-gap: 10px;
  
}

.preview__title{
  font-size: 0.9rem;
  font-weight: 500;
}
.preview__artist{
  font-size: 0.9rem;
  font-weight: 300;
}

.preview__year{
  font-size: 0.9rem;
  font-weight: 300;
  color: gray;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}
.button{
  float: right;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.button:hover{
  filter: invert(22%) sepia(79%) saturate(2984%) hue-rotate(312deg) brightness(101%) contrast(111%);
}

.form__comment {
  padding: 10%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  margin:10%;
  border-radius: 30px;
  padding-top: 20px ;
}

.form__label, 
.form__button {
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  justify-content: center;

}
.form__button {
  position: static;
  border: none;
  background-color: white;
  padding: 0.9rem;
  position:relative;
  border-radius: 20px;
}

.form__input{
  height: 90px;
  border-radius: 20px;
  border: solid 0.03rem;
}

.form__button:hover{
  box-shadow: var(--accent-light) 2px 3px 3px;
  color:var(--accent-light);
}

.new__comment{
  color:var(--accent);
  font-style: italic;
  padding-left: 85%;
}